:root {
  --bg: #3a00a7;
  --border-color: #4e0eff;
}

.FormContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: url(https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451);
  background-repeat: no-repeat;
  background-size: cover;
}

.FormContainer .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

.FormContainer .brand img {
  height: 20rem;
  cursor: pointer;
}

.FormContainer .brand img:hover {
  transition: all 0.5s;
  animation: rotate 0.7s;
}

.FormContainer .brand h1 {
  text-transform: uppercase;
}

.FormContainer form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg);
  border-radius: 2rem;
  padding: 3rem 5rem;
}

.FormContainer form input {
  background: transparent;
  padding: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
