:root {
  --bg: #3a00a7d5;
  --border-color: #006aff;
  --btn-color: #002860;
}

.FormContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: url(https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451);
  background-repeat: no-repeat;
  background-size: cover;

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;

    img {
      height: 20rem;
      cursor: pointer;
      &:hover {
        transition: all 0.5s;
        animation: rotate 0.7s;
      }
    }

    h1 {
      text-transform: uppercase;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg);
    border-radius: 2rem;
    padding: 3rem 5rem;

    input {
        background: transparent;
        padding: 1rem;
        border: 0.1rem solid var(--border-color);
        text-align: center;
        outline: none;
        border-radius: 0.4rem;
        font-size: 1.3rem;
    }

    button {
        background: var(--);
        border: 0.3rem solid var(--border-color);
        padding: 1rem 2rem;
        background: transparent;
        border-radius: 4rem;
        font-size: 1.3rem;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background: var(--btn-color);
          color: #fff;
        }
    }

    span {
        font-size: 1.3rem;
        text-align: center;

        a {
            padding-left: 10px;
            color: #006aff;
            font-size: 25px;
        }
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #fff;
        font-size: 40px;
        transition: all 0.2s ease-in-out;
        &:hover {
            font-size: 50px;
        }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
